<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Reference Architecture Fit-Gap Analysis (formal)</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="ref_arch_fit_gap_analysis_formal">
<meta name="uma.presentationName" content="Reference Architecture Fit-Gap Analysis (formal)">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_MIBysDeoEdyFMtjeREc5MQ"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_MIBysDeoEdyFMtjeREc5MQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Reference Architecture Fit-Gap Analysis (formal)</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template can be used when performing a reference architecture fit-gap analysis for any type of architecture or business domain.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/ref_arch_fit_gap_analysis_505D71D5.html" guid="mwebCB8ECB58A8362ADD852568850059188E">Reference Architecture Fit Gap Analysis</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    <strong>1.&#160;Executive Summary</strong>
</p>
<p>
    Provide a brief statement of the selected Reference Architecture and any major issues or risks.
</p>
<p>
    <strong>2.&#160;Introduction<br />
    </strong>Provide introductory comments setting the context for the project etc.
</p>
<p>
    <strong>3.&#160;Key Drivers</strong><br />
    Provide a brief statement of the business objectives or constraints.
</p>
<p>
    <strong>4.&#160;Architecture Requirements Checklist</strong><br />
    Summarize the key architecture requirements using a standard checklist.
</p>
<table bordercolor="#000000" cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr bordercolor="#000000" bgcolor="#CCCCCC">
            <td width="24%">
                <p align="left">
                    Requirement
                </p>
            </td>
            <td width="24%">
                <p align="left">
                    Reference Architecture Characteristic
                </p>
            </td>
            <td width="23%">
                <p align="left">
                    Required Value for Project
                </p>
            </td>
            <td width="27%">
                <p align="left">
                    Risks/Issues/Comments/ Points to Investigate
                </p>
            </td>
        </tr>
        <tr bordercolor="#000000" bgcolor="#ffffff">
            <td valign="top" width="24%">
                <p>
                    Requirement summary
                </p>
            </td>
            <td valign="top" width="24%">
                <br />
                <br />
            </td>
            <td valign="top" width="23%">
                <p>
                    Why important to the project.
                </p>
            </td>
            <td valign="top" width="27%">
                <p>
                    Related issues, risks or notes.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br />
    <strong>5.&#160;Subject Area Checklist</strong><br />
    This chapter compares the subject areas (domains) in the reference architecture with those required for the
    engagement.<br />
</p><br />
<table bordercolor="#000000" cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr bgcolor="#CCCCCC">
            <td width="159">
                <p align="left">
                    Subject Area (Domain)
                </p>
            </td>
            <td width="160">
                <p align="left">
                    Present in Reference Architecture?
                </p>
            </td>
            <td width="160">
                <p align="left">
                    Required by New Architecture?
                </p>
            </td>
            <td width="160">
                <p align="left">
                    Issues/Risks/Notes
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="159">
                <p>
                    The subject area or domain.
                </p>
            </td>
            <td valign="top" width="160">
                <p>
                    Is the domain present in the reference Architecture (yes/no)?
                </p>
            </td>
            <td valign="top" width="160">
                <p>
                    Is the domain required in the new architecture (yes/no)?
                </p>
            </td>
            <td valign="top" width="160">
                <p>
                    Related issues, risks or notes.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong>6.&#160;Statement of Fit</strong>
</p>
<p>
    Provide a summary of the extent of "fit" between the Reference Architecture and customer requirements. For each area
    where the Reference Architecture does not meet requirements, describe briefly:
</p>
<ul>
    <li>
        The unmet requirement.
    </li>
    <li>
        The type and extent of delta that would be requisite for the Reference Architecture to meet the requirement.&#160;
        Should it be extended, modified, or receive a new subject area?
    </li>
    <li>
        An estimate of the cost and risk of the delta.<br />
    </li>
</ul></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.tech.common.extend_supp-ibm/guidances/templates/resources/umf_ref_arch_fit_gap_analysis.dot" target="_blank">umf_ref_arch_fit_gap_analysis.dot</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
