<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Estimating Considerations Checklist</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="est_considerations_checklist">
<meta name="uma.presentationName" content="Estimating Considerations Checklist">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_H08g4DbMEdylwehbh4uS6Q"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_H08g4DbMEdylwehbh4uS6Q"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Estimating Considerations Checklist</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">Default templates for WordPro and MS-Word with both A4 and Letter formatting</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.common.extend-ibm_lic/workproducts/est_considerations_chklst_7AFC564A.html" guid="mweb5AC65280BEB7BF8F8525705300569C58">Estimating Considerations Checklist</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    The attached Estimating Considerations Checklist Template contains a list of suggested considerations divided into the
    following areas:
</p>
<ol>
    <li>
        Considerations for Estimate Development<br />
        <br />
        This category includes general project considerations such as estimating team, methodology, tools, technical
        experts, estimating subject matter experts, estimating approaches, historical data and assumptions.<br />
        <br />
    </li>
    <li>
        Considerations for Estimating Size<br />
        <br />
        Quantification of scope, often called size, is required against which the rest of the estimate will be made. Size
        comes in many guises and more than one ‘unit’ might be used. Size may be a parametric (Function Points, Lines of
        Code), Project output artefacts (Screens, reports) or design artefacts (classes, objects) or as an overall size
        based on a delivery process or Work Breakdown Structure (WBS). It is important that the size be related to effort.
        This is best done via historical data, but expert assessment is also commonly applied.<br />
        <br />
        This category includes considerations for estimating size.<br />
        <br />
    </li>
    <li>
        Considerations for Estimating Effort<br />
        <br />
        An effort estimate should be based on the size estimate (in whatever guise).&nbsp; The initial effort estimate is
        commonly (but not always) of technical effort (Design, Code, Unit Test, or DCUT).&nbsp; All other project effort
        must be added to this DCUT estimate for a project estimate to be complete.<br />
        <br />
        This category includes considerations for estimating effort.<br />
        <br />
    </li>
    <li>
        Considerations for Estimating Schedule<br />
        <br />
        Schedules are created based on effort estimates by allocating resource roles against the work breakdown structure
        and leveling the effort to provide a realistic individual work effort per day.<br />
        <br />
        This category includes considerations for estimating schedule.<br />
        <br />
    </li>
    <li>
        Considerations for Estimating Cost<br />
        <br />
        Resourced schedules provide an ability to accurately assess resource costs. Indicative costs can be obtained from
        effort figures and assumptions about average resource costs. There are additional resource-based costs, for example
        travel expenses, and costs from procurement of hardware, software, services from 3rd party vendors and so on.<br />
        <br />
        This category includes considerations for estimating cost<br />
        <br />
    </li>
    <li>
        Final Considerations<br />
        <br />
        Having completed your estimate, you should review its content and assumptions, considering factors such as accuracy
        of costs versus appropriate skill levels.<br />
        <br />
    </li>
    <li>
        Miscellaneous Project Management Considerations<br />
        <br />
        In addition, considerations need to be made for project management tasks and on-going project management activity
        when estimating effort and duration.&nbsp; These considerations do not solely relate to management roles, but may
        also relate to the roles of team members.
    </li>
</ol></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.common.extend-ibm_lic/guidances/templates/resources/EstimatingConsiderationsChecklistA4.doc" target="_blank">EstimatingConsiderationsChecklistA4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.common.extend-ibm_lic/guidances/templates/resources/EstimatingConsiderationsChecklistUS.doc" target="_blank">EstimatingConsiderationsChecklistUS.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
