<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Master Test Plan</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="master_test_plan">
<meta name="uma.presentationName" content="Master Test Plan">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_X2H4ICrcEdy7WY2t_pxV0w"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_X2H4ICrcEdy7WY2t_pxV0w"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Master Test Plan</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">MS-Word template</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/workproducts/master_test_plan_316F37F1.html" guid="mweb6453F1B420F775748525688500505CDC">Master Test Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    <strong>Introduction</strong> The introduction section focuses on establishing a context for the current and future
    states of the applications or systems, within scope.
</p>
<p>
    <strong><em>Overview</em></strong> Brief overview of the project or release.&nbsp; This section creates a context and
    scope for the master test plan.&nbsp;
</p>
<p>
    <strong><em>Current system environment</em></strong> A short description of the current technical and operational
    environment is included here.&nbsp;
</p>
<p>
    <strong><em>Project Goals</em></strong> This sub-section describes the project goals.&nbsp; These goals include the
    broad business objectives and any underlying business process changes.
</p>
<p>
    <strong><em>Release Objectives</em></strong> This section focuses on the system development objectives for each
    release, and these objectives, in turn, drive the overall test objectives described in the next section.
</p>
<p>
    <strong>Test Objectives</strong> Test objectives describe the tangible goals of testing.&nbsp; Test objectives can be
    at varying levels of detail.&nbsp; At the master test plan level, they are driven by the solution objectives and
    describe the overall objectives for testing.&nbsp; They include the high level objectives to test the business
    functions and the technical requirements, and help to reduce the risks and costs of failure.&nbsp;
</p>
<p>
    <strong>Test Scope</strong> The scope defines the boundaries of testing.&nbsp; This section describes or lists
    applications and systems within scope of the master test plan.&nbsp; The master test plan covers only dynamic
    testing.&nbsp; Static test plan covers static testing of the development and testing work products.&nbsp; If any of the
    applications or systems is known to be out of scope for testing, it is important to mention the exclusions here.
</p>
<p>
    <strong>Assumptions</strong> Any underlying assumptions on which this master test plan is based are clearly stated in
    this section.&nbsp; This section is key to successful testing because, should any of the assumptions turn out to be
    untrue, this master test plan and the detailed test plans it drives will require adjustment.&nbsp; Documenting them
    here allows them to be tested for validity throughout the project lifecycle.&nbsp;
</p>
<p>
    <strong>Test Strategy</strong>
</p>
<p>
    <strong><em>Business Functions</em></strong> The business functions or use cases from the use case model are included
    here.
</p>
<p>
    <strong><em>Structural Functions</em></strong> Also known as technical requirements, the non-functional requirements,
    such as availability, performance, and security that are within scope for testing are listed in here.
</p>
<p>
    <strong><em>Risk Assessment</em></strong> Risk assessment at this level is driven by the project risk assessment and
    expands on risks specific to the test domain.&nbsp; For example one of the objectives for testing is to mitigate the
    project risks through testing (i.e., within the scope of test domain), and to manage the testing risks.&nbsp; A
    detailed risk assessment is done here, driven by the business functions and technical requirements of the solution
    under development; e.g., new technology, limited application knowledge, etc.
</p>
<p>
    <strong><em>Test Focus Areas</em></strong> The generic set of test focus areas from the test strategy are examined and
    applied to the project to determine the specific ones that are applicable to the project.&nbsp; Again, the basic set
    may be expanded or a subset used, based on the project needs.&nbsp; At this time the quality goals would also determine
    the needs for test focus areas.&nbsp;
</p>
<p>
    <strong><em>Levels of Testing</em></strong> As indicated earlier, the basic set of test levels from the standards may
    be used or expanded to accommodate project specific needs.&nbsp; Each stage of development represents a known level of
    physical integration and quality.&nbsp; These stages, known as testing levels, would have been defined at the time of
    testing strategy using the testing standards of the organization, if they exist, or using testing practices.&nbsp; The
    build procedure from the solution development helps to confirm the appropriate levels of testing and the contents of
    each.
</p>
<p>
    <br />
    <strong><em>Entry/Exit Criteria</em></strong> The prerequisites (entry criteria) and post conditions (exit criteria)
    are defined for each of the detailed levels of testing within the project scope.&nbsp; The entry and exit criteria are
    defined with the participation of the stakeholder representatives so that the handing-over organization fully
    understands what the receiving organization expects, and any gaps can be clarified and negotiated to a common agreement
    and understanding.&nbsp;
</p>
<p>
    Sometimes the Statement of Work and contracts will have dealt with these questions and issues in extensive detail, and
    at other times they may have been ambiguous or incomplete, and clear definition of criteria will be needed.&nbsp; This
    definition helps to reduce problems later during detailed planning, and also to better plan whatever is within scope
    for each detailed level of test.&nbsp; Any organization change management activities or business process testing issues
    can also be identified at this time.&nbsp;
</p>
<p>
    <strong><em>Functional and Structural Test Types</em></strong> Testing types relate to testing of business functions
    (Functional Types) or to structural functions (Structural Types).&nbsp; Using the testing types that were outlined in
    the test strategy, and taking into consideration the goals of the build cycle, the business and non-functional
    requirements and the operational model, the functional and structural testing types will be selected that are
    appropriate to the specific needs of the project/solution.
</p>
<p>
    <strong>Test Plan</strong>
</p>
<p>
    <strong><em>Test Planning Workshops</em></strong> During the master test plan development activity (especially for
    large projects), joint planning sessions of all stakeholder representatives are held where they collectively agree on a
    common set of priorities for all levels of testing.&nbsp; The details of any joint facilitated planning workshops held
    are documented here.&nbsp; The list of stakeholder representatives who participated in the session and their roles on
    the project are also documented.&nbsp;
</p>
<p>
    <strong><em>Roles and Responsibilities</em></strong> Organizational responsibility refers to describing in generic
    terms the hand-offs and hand-overs that occur at various points in the development lifecycle, as the product or
    solution evolves from specification to design to implementation.&nbsp;
</p>
<p>
    During the master test plan development activity, all stakeholder representatives come to a consensus on, among other
    things, areas of organizational responsibility.&nbsp; This is done at a high level to identify which business or
    functional areas need to get involved in order to move the overall test planning into detailed levels of test planning,
    and to designing test cases, preparing to execute the test cases and to reporting the results.&nbsp; At the master test
    plan level, it is a good practice to identify primary as well as secondary responsibility for the major testing
    activities.
</p>
<p>
    <strong><em>Test Schedule</em></strong>
</p>
<p>
    <strong><em>Major testing milestones</em></strong>
</p>
<p>
    <strong><em>Resource requirements</em></strong>
</p>
<p>
    <strong><em>Contingencies</em></strong> Standard contingencies as well as any specific ones suggested by the project
    and test domain risk assessments should be identified here.
</p>
<p>
    <strong>Test Environment Build Strategy</strong> With the overall test planning activities and responsibilities
    defined, it is time to define test environment requirements so that the necessary hardware, software, tools, and other
    infrastructure components can be assembled to create the test environment.&nbsp; Especially with changing and evolving
    technology, it is imperative to not only create the test environment early in the project, but also to consider the
    ways and means to test the environment and to put standards and procedures in place to operate the test
    environment.&nbsp; This strategy includes backup and recovery of the test data, and regression testing of software and
    hardware upgrades.&nbsp; The master test plan initiates the planning for building and maintaining the technical test
    environment.&nbsp; This includes the test tools as well.
</p>
<p>
    <strong><em>Test Data Strategy</em></strong> By the time the master test plan is developed, enough development planning
    would have occurred to begin to delineate a test data strategy and an approach for test data creation, setup, and
    maintenance.&nbsp; It is also appropriate to consider how test data can be shared amongst the different levels of
    testing.&nbsp; No details are included here; they are the subjects of the detailed test specification work products
    relating to each detailed level of testing.
</p>
<p>
    <strong><em>Test Tools Build/Buy</em></strong> Using the technology or tools strategy described during the test
    strategy, tools specifications, evaluation, selection, acquisition, and implementation planning steps are initiated at
    this time.&nbsp; The actual selection and implementation processes are the subject of the test environment work product
    and are out of scope for the master test plan.
</p>
<p>
    <strong>Test Management and Reporting Procedures</strong>
</p>
<p>
    <strong><em>Test Management</em></strong> Test Management refers to the management systems that govern the testing
    activities.&nbsp; These systems refer to the procedures for problem tracking/management, change management, and
    progress tracking during testing.&nbsp; It is best to define the test management systems once, as part of the master
    test plan, and to let the detailed test plans refer to them and use them during testing.&nbsp; Problem
    tracking/management and change management processes are the subjects of defect management procedures.
</p>
<ul>
    <li>
        Problem Tracking/Management Procedures: Only references may be included here, not the actual procedures.
    </li>
    <li>
        Change Management Procedures: Only references may be included here, not the actual procedures.
    </li>
    <li>
        Progress Tracking Procedures: Only references may be included here, not the actual procedures.<br />
    </li>
</ul>
<p>
    <strong>Test Reporting</strong> Status and other periodic test reports for ongoing progress tracking, as well as
    hand-offs from one level of testing to another, are described here.&nbsp;
</p>
<ul>
    <li>
        Test Reports: Frequency and format may be described here.<br />
    </li>
</ul>
<p>
    <strong>Appendices</strong>
</p>
<p>
    <em><strong>Appendix A</strong></em>
</p>
<ul>
    <li>
        Test Focus Areas Definition&nbsp;
    </li>
    <li>
        Functional Types of Test Definition
    </li>
    <li>
        Structural Types of Test Definition
    </li>
    <li>
        Severity Codes Definition
    </li>
</ul>
<p>
    <strong><em>Appendix B</em></strong>
</p>
<ul>
    <li>
        Test Responsibility
    </li>
    <li>
        Test Focus/Types Matrix
    </li>
    <li>
        Test Levels/Types Matrix
    </li>
</ul>
<p>
    <strong><em>Appendix C</em></strong>
</p>
<ul>
    <li>
        Test Reports
    </li>
</ul>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Note: Some of the various detailed test plans that may be referenced are:&nbsp;
</p>
<div style="margin-left: 2em">
    <ul>
        <li>
            Unit Test Plan
        </li>
        <li>
            Integration Test Plan
        </li>
        <li>
            System Test Plan
        </li>
        <li>
            Systems Integration Test Plan
        </li>
        <li>
            Acceptance Test Plan
        </li>
        <li>
            Operability Test Plan
        </li>
    </ul>
</div></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/guidances/templates/resources/MasterTestPlanTemplate.doc" target="_blank">MasterTestPlanTemplate.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
