<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Root Cause Analysis Record</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="root_cause_analysis">
<meta name="uma.presentationName" content="Root Cause Analysis Record">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_dbKXUCuHEdyiH_BFHRguzQ"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_dbKXUCuHEdyiH_BFHRguzQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Root Cause Analysis Record</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This simple form template is used to create forms that are one-time use, i.e. are not generally updated after creation.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/workproducts/root_cause_analysis_48F55E89.html" guid="mwebD3294EEB892BF3CA8525704600649BFF">Root Cause Analysis Record</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><table style="WIDTH: 560px; HEIGHT: 695px" cellspacing="2" cellpadding="2" width="560" border="1">
    <tbody>
        <tr>
            <td>
                <blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
                    <p>
                        <strong>Content</strong>
                    </p>
                </blockquote>
            </td>
            <td>
                <blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
                    <p>
                        <strong>Comment</strong>
                    </p>
                </blockquote>
            </td>
        </tr>
        <tr>
            <td>
                <strong><em>Project identification</em></strong>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Project / Sub-project
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Project / Sub-project manager
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Project phase
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Project organizational unit
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Author
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Date requested
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <strong><em>Root cause analysis information</em></strong>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Root cause analysis requested by
            </td>
            <td>
                Enter the name of the person who has requested the RCA
            </td>
        </tr>
        <tr>
            <td>
                RCA number
            </td>
            <td>
                Enter the unique identifier for the RCA
            </td>
        </tr>
        <tr>
            <td>
                Date authorized
            </td>
            <td>
                Enter the date on which the RCA was authorized
            </td>
        </tr>
        <tr>
            <td>
                <strong><em>Incident information</em></strong>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Statement of incident
            </td>
            <td>
                Describe the incident in precise, understandable terms (include attachments, if required)
            </td>
        </tr>
        <tr>
            <td>
                Details of the event
            </td>
            <td>
                Define the scope and the boundaries of the incident.&nbsp; Identify the people who were notified and the
                actions that were taken after the occurrence of the incident (include attachments, if required)
            </td>
        </tr>
        <tr>
            <td>
                Contributing factors
            </td>
            <td>
                Contributing factors need to be differentiated from the root cause of the incident.&nbsp; The correction of
                contributing factors does not guarantee prevention of the incident.&nbsp; For example, a software abend is
                a contributing factor to the appearance of an error message.
            </td>
        </tr>
        <tr>
            <td>
                Customer impact
            </td>
            <td>
                Statement of impact customer experienced as a result of the incident
            </td>
        </tr>
        <tr>
            <td>
                <strong><em>Participants and meeting arrangements</em></strong>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                RCA Team
            </td>
            <td>
                Enter the names of the RCA Coordinator and the other meeting attendees
            </td>
        </tr>
        <tr>
            <td>
                RCA Meeting
            </td>
            <td>
                Enter the time, date and venue of the meeting
            </td>
        </tr>
        <tr>
            <td>
                <strong><em>Root cause analysis</em></strong>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Root cause of incident
            </td>
            <td>
                <p>
                    The root cause is the original factor or reason that caused the incident to occur.&nbsp; The root cause
                    can be defined as the factor that, when eliminated or changed, will eliminate the recurrence of a given
                    problem forever.&nbsp; For example, a software abend is a contributing factor to the appearance of an
                    error message, incomplete coding is another contributing factor, but incorrect requirements are the
                    root cause of the incident.
                </p>
                <p>
                    Explain how you arrived at this conclusion.&nbsp; Your explanation may include details of the tools and
                    techniques utilized during the research and analysis, and any assumptions upon which the analysis was
                    based.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                Possible corrective or preventive actions
            </td>
            <td>
                List all steps that may need to be taken to prevent the incident from recurring.
            </td>
        </tr>
        <tr>
            <td>
                Implementation and tracking
            </td>
            <td>
                Reference to the agreed action items
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/guidances/templates/resources/RootCauseAnalysisRecordA4.doc" target="_blank">RootCauseAnalysisRecordA4.doc</a>
</li>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/guidances/templates/resources/RootCauseAnalysisRecordA4.lwp" target="_blank">RootCauseAnalysisRecordA4.lwp</a>
</li>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/guidances/templates/resources/RootCauseAnalysisRecordUS.doc" target="_blank">RootCauseAnalysisRecordUS.doc</a>
</li>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/guidances/templates/resources/RootCauseAnalysisRecordUS.lwp" target="_blank">RootCauseAnalysisRecordUS.lwp</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
