<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Test Plan</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="test_plan">
<meta name="uma.presentationName" content="Test Plan">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_K81xMChuEdy6p6vDFJLpLw"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_K81xMChuEdy6p6vDFJLpLw"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Test Plan</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/acceptance_test_plan_6DF78315.html" guid="mweb395827756BD9DEB385256881007D1899">Acceptance Test Plan</a>
</li>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/integration_test_plan_21E8993A.html" guid="mwebA11192362C10D30F852569A5004AFD5E">Integration Test Plan</a>
</li>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/operability_test_plan_400CBEBC.html" guid="mweb9FA778C07F7E6B27852569A50049F56A">Operability Test Plan</a>
</li>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/systems_int_test_plan_A81910A9.html" guid="mwebFCB182413368F0DB852569A5004B0907">Systems Integration Test Plan</a>
</li>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/system_test_plan_42B8B657.html" guid="mweb4DFC53CE38522262852569A500487F61">System Test Plan</a>
</li>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/test_plan_78ADD84C.html" guid="mwebE50460DA02C666F78525688200626DB0">Test Plan</a>
</li>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/usability_test_plan_780912D6.html" guid="mweb46FDC03E3B3755AF852568850060E33D">Usability Test Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    <strong>Introduction</strong>
</p>
<p>
    This section establishes some project level context or background.
</p>
<p>
    <strong>Purpose</strong>
</p>
<p>
    This section describes the purpose of the Detailed Test Plan.
</p>
<p>
    <strong>Scope</strong>
</p>
<p>
    A scope paragraph gives a clear explanation of the extent of testing covered by this plan.&nbsp; It specifically
    addresses items that are in-scope, and items that are out-of-scope.
</p>
<p>
    <strong>Test Focus</strong>
</p>
<p>
    Document those attributes of a system that must be tested to assure that the business and structural requirements are
    satisfied.
</p>
<p>
    <strong>Test Objective</strong>
</p>
<p>
    Document here the tangible goals for assuring that the test focus areas, previously selected as being relevant to a
    particular business or structural function, are being validated by the test.&nbsp;
</p>
<p>
    <strong>Approach</strong>
</p>
<p>
    The overall approach to how testing will be conducted is defined here.&nbsp; The approach is described in sufficient
    detail to permit identification of the major testing tasks and estimation of the time required in completing each
    one.&nbsp; Different levels of testing will use significantly different approaches to achieve the objectives of their
    respective test levels.
</p>
<p>
    Significant constraints on testing such as work item availability, testing resource availability, and deadlines are
    also identified, as are any special packaging procedures.&nbsp; Any assumptions related to testing are also stated
    here.&nbsp; Staffing needed to support the approach are identified in terms of number and skill level.&nbsp; Training
    options for developing required skills are noted here as an alternative to hiring the skills.
</p>
<p>
    The testing approach, test data, and testing priorities are defined here, and include:
</p>
<ul>
    <li>
        Details of any other areas carrying out testing during the test level, such as the service delivery, internal
        audit, operations, business procedures, etc.
    </li>
    <li>
        The approach to be taken for obtaining test data; e.g., live extract, test packs.
    </li>
    <li>
        The prioritization strategy: prioritize the features and items to test and identify considerations for not running
        certain tests should the project run out of time.&nbsp;&nbsp;
    </li>
    <li>
        Any boundaries of testing where the level and/or projects are inter-dependent.
    </li>
</ul>
<p>
    <br />
    <strong>Functions / Features to be Tested</strong>
</p>
<p>
    Test Functions/Features appropriate to this test level are identified, as well as combinations of such to be
    tested.&nbsp; These functions and features are derived from the use case models and the non-functional requirements,
    which describe the functions and features to be tested for the project.&nbsp; The definition of what features and
    functions will be tested at which level of testing is usually arrived at through a workshop, to ensure consistency and
    completeness.
</p>
<p>
    Test Functions/Features are defined to a sufficiently low level of detail to support an expansion into test cases for a
    given level of testing.
</p>
<p>
    The criteria to be used to determine whether each Test Function/Feature has passed or failed testing is also noted
    here.&nbsp;
</p>
<p>
    <br />
    <strong>Functions / Features not to be Tested</strong>
</p>
<p>
    Functions/Features being excluded are noted here to identify out of scope items.
</p>
<p>
    <br />
    <strong>Work Items</strong>
</p>
<p>
    Specific work items are defined that are required to test the functions/features, listed in section Functions/Features
    to be Tested.&nbsp; In other words, work items are those systems, software configuration items, system interfaces, and
    documents that constitute the areas or items to be tested.&nbsp; It may be useful under some circumstances to combine
    this section with the Test Functions/Features section.&nbsp;
</p>
<p>
    The extent of the breadth and depth of coverage of the tests during the Test Level covered by this plan is also defined
    here.&nbsp;
</p>
<p>
    Each testing level addresses a different set of test items, as is shown below:
</p>
<ul>
    <li>
        Unit Tests address programs and modules.
    </li>
    <li>
        Integration Tests address programs and sub-systems.
    </li>
    <li>
        System Tests address systems and interfaces.
    </li>
    <li>
        System Integration Tests address external interfaces.
    </li>
    <li>
        Operability Tests include production environment related work items.
    </li>
</ul>
<p>
    Function and test matrices are often used to ensure completeness and accuracy of test items.
</p>
<p>
    <strong>Entry and Exit Criteria for Level</strong>
</p>
<p>
    Entry and Exit criteria are usually established during the development of the comprehensive test planning stage.&nbsp;
    Entry criteria establish the pre-requisites, which must be met before testing can start, and exit criteria define the
    steps that must be completed before the test level can be exited.&nbsp;
</p>
<p>
    <br />
    <strong>Test Function / Feature Pass / Fail Criteria</strong>
</p>
<p>
    <br />
    <strong>Testing Tools and Techniques</strong>
</p>
<p>
    Testing tools or special techniques to be employed during this test level are identified here.&nbsp;<br />
    &nbsp;
</p>
<p>
    <strong>Suspension Criteria and Resumption Requirements</strong>
</p>
<p>
    The criteria used to suspend all or a portion of the testing activity on the Test Functions/Features associated with
    this plan are defined here.&nbsp; Testing activities that must be repeated when testing is resumed are identified to
    ensure that required testing conditions are re-established prior to the resumption of testing.&nbsp;&nbsp;<br />
    &nbsp;
</p>
<p>
    <strong>Test Plan and Schedule</strong>
</p>
<p>
    A schedule is prepared for the testing activities at this test level.&nbsp; A reference is provided to a Plan/Gantt
    Chart or other planning document appendix.
</p>
<p>
    Testing milestones identified in the Project Plan are identified and the specific test activities to be performed at
    the test level, the personnel responsible for performing the activities, and the test work products to be produced are
    also defined.
</p>
<p>
    <strong><em>Test Milestones Identified in the Project Plan</em></strong>
</p>
<p>
    Milestones should include completion of the test plan itself, completion of test specification, test execution and so
    on.
</p>
<p>
    <strong><em>Specific Test Activities for the Test Level</em></strong>
</p>
<p>
    The set of tasks necessary to prepare for and perform the testing level is identified.&nbsp; All inter-task
    dependencies and any special skills required are also noted.&nbsp; The following types of tasks need to be considered:
</p>
<ul>
    <li>
        Test planning.
    </li>
    <li>
        Allocation and assignment of staff for the test level.
    </li>
    <li>
        Test design and specification.
    </li>
    <li>
        Test execution.
    </li>
    <li>
        Test environment planning and set up.
    </li>
    <li>
        Test management.
    </li>
    <li>
        Defect management.
    </li>
</ul>
<p>
    <br />
    <strong><em>Personnel Responsible for Test Activities</em></strong>
</p>
<p>
    Staff responsible for the different tasks included in the plan is identified here.&nbsp; These personnel may include
    the developers, testers, operations/service delivery staff, technical support, user representatives, data
    administration, and quality support staff.
</p>
<p>
    Points of contact and support for particular applications, platforms, systems, business functions (especially for
    interface testing), and inter-dependent projects are noted here as well.
</p>
<p>
    <br />
    <strong>Test Environments Requirements</strong>
</p>
<p>
    The necessary and desired properties of the Test Environment are noted here.&nbsp; This section commonly includes:
</p>
<ul>
    <li>
        Identification of the physical components, the communications, the system and middleware necessary (hardware and
        system software).
    </li>
    <li>
        The mode or state of usage (for example, standalone or dedicated to the discrete usage of the application alone).
    </li>
    <li>
        Other software or supplies needed to support testing (e.g., printer forms or specialized stationery).
    </li>
    <li>
        Security and access requirements to the test area and equipment.
    </li>
    <li>
        Test tools and utilities required, including backup/restore requirements.
    </li>
    <li>
        Other testing needs (e.g., publications, office space).
    </li>
    <li>
        Additional software licenses to cover test period usage.
    </li>
    <li>
        Support resources and skills required to maintain the test environments.
    </li>
    <li>
        References to any other projects using the same resources as this project.
    </li>
</ul>
<p>
    <br />
    <strong>Risks and Contingencies</strong>
</p>
<p>
    High project risks need to be addressed in this section.&nbsp; The impact and contingency plans for each are
    defined.&nbsp; All potential risks identified in section, Features not to be tested, are addressed here.
</p>
<p>
    Common areas of risk are:
</p>
<ul>
    <li>
        Changing business requirements.
    </li>
    <li>
        Changing end-date.
    </li>
    <li>
        Insufficient resource.
    </li>
    <li>
        Test environment restrictions or differences relative to production.
    </li>
    <li>
        Quality problems.
    </li>
    <li>
        A need for special skills.
    </li>
    <li>
        New technology.<br />
    </li>
</ul>
<p>
    The focus is on risks to the testing of the project and not to the project itself.
</p>
<p>
    <strong>Approvals</strong>
</p>
<p>
    The names and titles of the people who will read, review, or sign-off on this plan are listed here.&nbsp; Space is
    provided for signatures and dates.<br />
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.tech.common.extend-ibm_int/guidances/templates/resources/DetailedTestPlanTemplate.doc" target="_blank">DetailedTestPlanTemplate.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
