<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Application Recovery Plan</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="application_recovery_plan">
<meta name="uma.presentationName" content="Application Recovery Plan">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_aSgO4JNyEdyuS-66ydE1UA"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_aSgO4JNyEdyuS-66ydE1UA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Application Recovery Plan</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template is a formal documentation of the plan recovery in the case where disaster recovery is needed.  It documents the recovery actions to be taken for a critical application if a business disaster or interruption to that application occurs.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/workproducts/application_recovery_plan_108C01D2.html" guid="_KsnT4MB8EdykBsZikGjt2Q">Application Recovery Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    This template provides an effective plan to ensure continuity or rapid restoration of a specific critical application
    following a business disaster or interruption to that application. This template will define for each application:
</p>
<ul>
    <li>
        Application recovery points
    </li>
    <li>
        Application backup details (type, frequency, time, storage)
    </li>
    <li>
        Disaster Recovery Classification
    </li>
    <li>
        Security Classifications
    </li>
    <li>
        Support Libraries / Utilities and Tools
    </li>
    <li>
        Special forms (if appropriate)
    </li>
    <li>
        Special Hardware
    </li>
    <li>
        Dependencies
    </li>
</ul>
<h4>
    Revision History
</h4>
<table title="" cellspacing="0" cellpadding="2" width="85%" border="1">
    <tbody>
        <tr>
            <th id="" scope="col" abbr="">
                Revision Number
            </th>
            <th id="" scope="col" abbr="">
                Revision Date
            </th>
            <th id="" scope="col" abbr="">
                Summary of Changes
            </th>
            <th id="" scope="col" abbr="">
                Authors
            </th>
        </tr>
        <tr>
            <td>
                1.0
            </td>
            <td>
                09/01/08
            </td>
            <td>
                Baselined content
            </td>
            <td>
                Content Team
            </td>
        </tr>
        <tr>
            <td>
                1.1&nbsp;
            </td>
            <td>
                12/05/08
            </td>
            <td>
                Updated for Brief Description and Main Description
            </td>
            <td>
                Content Team
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/ApplicationRecoveryPlanA4.doc" target="_blank">ApplicationRecoveryPlanA4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/ApplicationRecoveryPlanUS.doc" target="_blank">ApplicationRecoveryPlanUS.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
