<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Disaster Recovery Plan </title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="disaster_recovery_plan">
<meta name="uma.presentationName" content="Disaster Recovery Plan ">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_s93tIJZ4Edyplcz7Koz1IQ"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_s93tIJZ4Edyplcz7Koz1IQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Disaster Recovery Plan </td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This MS Word template is used to capture the planning details of activities that are required to be executed in the event of a business disaster.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/workproducts/disaster_recovery_plan_BEAC8CB4.html" guid="_SCvz8MB8EdykBsZikGjt2Q">Disaster Recovery Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    The template typically contains the following sections:
</p>
<ul>
    <li>
        Disaster resumption plan including the implementation details, contact details and recovery process&nbsp;
    </li>
    <li>
        Application recovery plan including the details of critical applications, backup type, schedule, recovery
        requirements and procedures&nbsp;
    </li>
    <li>
        Maintenance Strategy which includes the review trigger and testing activities&nbsp;
    </li>
    <li>
        Communication plan which includes the delivery audience, delivery method, delivery schedule and delivery
        information
    </li>
</ul>
<h4>
    Revision History
</h4>
<table title="" cellspacing="0" cellpadding="2" width="85%" border="1">
    <tbody>
        <tr>
            <td>
                <strong>Revision Number</strong>
            </td>
            <td>
                <strong>Revision Date</strong>
            </td>
            <td>
                <strong>Summary of Changes</strong>
            </td>
            <td>
                <strong>Authors</strong>
            </td>
        </tr>
        <tr>
            <td>
                1.0
            </td>
            <td>
                08/08/05
            </td>
            <td>
                Initial Version
            </td>
            <td>
                Content Team
            </td>
        </tr>
        <tr>
            <td>
                1.1
            </td>
            <td>
                12/05/08
            </td>
            <td>
                Updated to include Brief Description and Main Description to comply with UMF standards
            </td>
            <td>
                Content Team
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/DisasterRecoveryPlanA4.doc" target="_blank">DisasterRecoveryPlanA4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/DisasterRecoveryPlanUS.doc" target="_blank">DisasterRecoveryPlanUS.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
