<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Organizational PQA Non-Compliance Log</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="org_pqa_non-compliance_log">
<meta name="uma.presentationName" content="Organizational PQA Non-Compliance Log">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_004okJNKEdytJZXD47i8eA"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_004okJNKEdytJZXD47i8eA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Organizational PQA Non-Compliance Log</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This MS Excel template is used by the Project Quality Analyst (PQA) Team to document and track the open non-compliant items that are identified in the Process Assurance reviews.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/workproducts/org_pqa_nc_log_F7ED72B.html" guid="_N6HksKO_Edy0CO2xK-8n8Q">Organizational PQA Non-Compliance Log </a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell">The Non-Compliant Item (NCI) Data worksheet is used to log the non compliance items and it captures the following
details:<br />
<br />
<ul>
    <li>
        Non-Compliant Item (NCI) #: These are numbered by the PQAs in sequential order as created Project ID or Application
        Name: Name or identifier for the project
    </li>
    <li>
        Procedure : Name of the procedure against which the NCI occurred
    </li>
    <li>
        Procedure Activity #: Reference ID/Procedure from the Process Assurance Review Report - Project (ENG442a) or
        Process Assurance Review Report - Organization (ENG 442)
    </li>
    <li>
        PQA Representative: Name of the PQA for the project
    </li>
    <li>
        Action Owner: Name of the person responsible for addressing the NCI issue.
    </li>
    <li>
        Date of Review: Date the review was performed and the NCI was identified/opened. (mm/dd/yy format)
    </li>
    <li>
        Date Planned Closure: The date by which the NCI must be closed. This is a date agreed upon by the PQA
        representative and the Project Manager
    </li>
    <li>
        Date Escalated to Management: The date the NCI was escalated to Management because it was not resolved by the
        agreed upon date.
    </li>
    <li>
        Date Closed: The date that the NCI was closed. (mm/dd/yy format)
    </li>
    <li>
        Description of Deviation/NCI: Free form text description of the NCI
    </li>
    <li>
        Actions Taken: Free form text description of Actions Taken
    </li>
</ul>
<h4>
    Revision History
</h4>
<table height="110" width="45%" border="1">
    <tbody>
        <tr>
            <td width="59">
                <b>Revision Number</b>
            </td>
            <td width="60">
                <b>Revision Date</b>
            </td>
            <td width="238">
                <b>Summary of Changes</b>
            </td>
            <td>
                <b>Authors</b>
            </td>
        </tr>
        <tr>
            <td width="59" height="37">
                1.0
            </td>
            <td width="60" height="37">
                12/23/05
            </td>
            <td width="238" height="37">
                Initial Version
            </td>
            <td height="37">
                Content Team
            </td>
        </tr>
        <tr>
            <td width="59">
                1.1
            </td>
            <td width="60">
                12/05/08
            </td>
            <td width="238">
                Updated to include Brief Description and Main Description to comply with documentation standards
            </td>
            <td>
                Content Team
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/OrganizationalPQANon-ComplianceLogTemplateA4.xls" target="_blank">OrganizationalPQANon-ComplianceLogTemplateA4.xls</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/OrganizationalPQANon-ComplianceLogTemplateUS.xls" target="_blank">OrganizationalPQANon-ComplianceLogTemplateUS.xls</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
