<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Policy or Process Exception Request</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="policy_or_process_exptn_request">
<meta name="uma.presentationName" content="Policy or Process Exception Request">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_MCHRoJOiEdyvQcm9TejMGQ"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_MCHRoJOiEdyvQcm9TejMGQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Policy or Process Exception Request</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This MS Word template is used to document the exceptions requested to the organization policies, standards and procedures. </td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/workproducts/pol_proc_exception_request_C2565B44.html" guid="mweb41278FF2569E0B10852570B5004A1869">Policy or Process Exception Request</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell">This template is used to obtain approval for exceptions from relevant authorities. The requester fills up the project name
and project phase in this template. The relevant OPAL references are made to support the exception. The details of the
exception, justification for the request, alternate process, endorsement and reason for the decision are explained in the
template. The names and signature of all approval authorities is also included in this template. 
<h4>
    Revision History
</h4>
<table height="110" width="45%" border="1">
    <tbody>
        <tr>
            <td width="59">
                <b>Revision Number</b>
            </td>
            <td width="60">
                <b>Revision Date</b>
            </td>
            <td width="238">
                <b>Summary of Changes</b>
            </td>
            <td>
                <b>Authors</b>
            </td>
        </tr>
        <tr>
            <td width="59" height="37">
                1.0
            </td>
            <td width="60" height="37">
                11/14/05
            </td>
            <td width="238" height="37">
                Initial Version
            </td>
            <td height="37">
                Content Team
            </td>
        </tr>
        <tr>
            <td width="59">
                1.1
            </td>
            <td width="60">
                12/05/08
            </td>
            <td width="238">
                Updated to include Brief Description and Main Description to comply with documentation standards
            </td>
            <td>
                Content Team
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/PolicyorProcessExceptionRequestA4.doc" target="_blank">PolicyorProcessExceptionRequestA4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/PolicyorProcessExceptionRequestUS.doc" target="_blank">PolicyorProcessExceptionRequestUS.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
