<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Program Model System Summary</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="program_model_sys_summary">
<meta name="uma.presentationName" content="Program Model System Summary">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_E0o8QFDSEd6PbfjKHCKGww"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_E0o8QFDSEd6PbfjKHCKGww"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Program Model System Summary</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This MS Word template is used to capture the planning details of projects or applications that follow a program model.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.wwpmm.common.base-ibm_lic/workproducts/proj_mgmt_sys_summary_58E8D22F.html" guid="mweb4D2BB31200230C69852568A9007FAEF8">Project Management System Summary</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    This template contains sections for program management planning and individual project/application planning. For
    program model planning, following indicative sections are recommended. Other auxiliary plans are required to be added
    as appropriate.
</p>
<ul>
    <li>
        Planning charter
    </li>
    <li>
        Project definition
    </li>
    <li>
        Agreements
    </li>
    <li>
        High level work breakdown structure
    </li>
    <li>
        Size and effort estimation
    </li>
    <li>
        Milestone list
    </li>
    <li>
        Financial plan
    </li>
    <li>
        Risk management plan
    </li>
    <li>
        Deliverable definition
    </li>
    <li>
        Human resource plan
    </li>
    <li>
        Organizational breakdown structure
    </li>
    <li>
        Project management schedule
    </li>
    <li>
        Operational schedule
    </li>
    <li>
        Project defined process
    </li>
    <li>
        Project quality plan
    </li>
    <li>
        Communication management plan
    </li>
    <li>
        Project dependency management
    </li>
    <li>
        Project decision structure
    </li>
    <li>
        Work product list
    </li>
    <li>
        Technical environment plan
    </li>
    <li>
        Product breakdown structure
    </li>
    <li>
        Master test plan
    </li>
    <li>
        Project procedure description
    </li>
    <li>
        Reusability
    </li>
</ul>
<p>
    The project/ application specific plan captures only the specific details as follows since majority of the details are
    available in program plan section. Auxiliary plans can include information such as:
</p>
<ul class="noindent">
    <li>
        Work breakdown structure
    </li>
    <li>
        Risk management
    </li>
    <li>
        Human resource plan
    </li>
    <li>
        Operational schedule
    </li>
    <li>
        Communication management plan
    </li>
    <li>
        Work product list
    </li>
    <li>
        Deliverable definition
    </li>
</ul>
<h4>
    Revision History
</h4>
<table width="85%" border="1">
    <tbody>
        <tr>
            <td width="59">
                <b>Revision Number</b>
            </td>
            <td width="60">
                <b>Revision Date</b>
            </td>
            <td width="400">
                <b>Summary of Changes</b>
            </td>
            <td>
                <b>Authors</b>
            </td>
        </tr>
        <tr>
            <td width="59" height="37">
                1.0
            </td>
            <td width="60" height="37">
                November 2006
            </td>
            <td width="400" height="37">
                Initial Version
            </td>
            <td height="37">
                Content-Team
            </td>
        </tr>
        <tr>
            <td width="59">
                1.1
            </td>
            <td width="60">
                December 2008
            </td>
            <td width="400">
                Updated to include Brief Description and Main Description to comply with documentation standards
            </td>
            <td>
                Content-Team
            </td>
        </tr>
        <tr>
            <td width="59">
                1.2
            </td>
            <td width="60">
                December 2010
            </td>
            <td width="400">
                Release 16.1: Updated to align the template with Project Management System summary sections.<br />
                Updated template to attachments to move IBM Global Services. Defect (OPAL0189)
            </td>
            <td>
                Content-Team
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/ProgrammodelsystemsummaryA4.doc" target="_blank">ProgrammodelsystemsummaryA4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/ProgrammodelsystemsummaryUS.doc" target="_blank">ProgrammodelsystemsummaryUS.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
