<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Skill Tracker for Annuity Project</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="skill_tracker_annuity_proj">
<meta name="uma.presentationName" content="Skill Tracker for Annuity Project">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_wD-yYC5DEd6RKdXp74g9nA"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_wD-yYC5DEd6RKdXp74g9nA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Skill Tracker for Annuity Project</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This MS Excel template captures the current skill level of project resources against the required skill or knowledge areas. It is intended to be used by projects which handle small work requests and have a wide range of skill set or application areas in which project resources need to be skilled.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/workproducts/trng_pln_tracker_60D86DD3.html" guid="_f2zEAC5BEd6RKdXp74g9nA">Training Plan and Tracker</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    This template captures the current skill set of the project team; it is intended to be used for the service request
    allocation based on skill level of resource(s). For annuity projects which have wide ranging application specific
    skills and need to have a comprehensive compilation of current technical skills of project resources can do so by
    additionally using this separate skill tracking mechanism.
</p>
<h4>
    Revision History
</h4>
<table title="" cellspacing="0" cellpadding="2" width="85%" border="1">
    <tbody>
        <tr>
            <td>
                <strong>Revision Number</strong>
            </td>
            <td>
                <strong>Revision Date</strong>
            </td>
            <td>
                <strong>Summary of Changes</strong>
            </td>
            <td>
                <strong>Authors</strong>
            </td>
        </tr>
        <tr>
            <td>
                1.0
            </td>
            <td>
                July 2009
            </td>
            <td>
                Added new template associated to Training plan and tracker
            </td>
            <td>
                WW-OPAL-Content-Team
            </td>
        </tr>
        <tr>
            <td>
                1.1
            </td>
            <td>
                June 2011
            </td>
            <td>
                MI0863.2.168 - Replaced invalid characters with ASCII code.
            </td>
            <td>
                Content-Team
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/SkillTrackerA4.xls" target="_blank">SkillTrackerA4.xls</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/SkillTrackerUS.xls" target="_blank">SkillTrackerUS.xls</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
