<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Work Product Inspection Form</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="work_product_inspection_form">
<meta name="uma.presentationName" content="Work Product Inspection Form">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_H7zoYE7qEdyYk9DY_x-vZQ"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_H7zoYE7qEdyYk9DY_x-vZQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Work Product Inspection Form</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This MS Excel template documents results and supporting information for a formal inspection of work products.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/workproducts/work_product_inspection_form_5D905AFB.html" guid="mwebF5AF766B9B89D824852570460064A27B">Work Product Inspection Form</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell">This template captures the following details: <br />
<br />
<ul>
    <li>
        Location of the defect: This shows where the defect is found
    </li>
    <li>
        Detected Process: The CMMI process area where the defect is detected
    </li>
    <li>
        Severity and priority of the defect: The drop down options available are 1- Critical, 2-High, 3-Medium and 4-Low
    </li>
    <li>
        Defect description: Explanation on the effect of the defect
    </li>
    <li>
        Originator's name: The person who raised the defect
    </li>
    <li>
        Defect type: This is the defect classification such as Data, Standards Compliance, Interface, Logic, Performance,
        Clarity and Requirements Compliance
    </li>
    <li>
        Phase injected: The life cycle during which the defect entered. The available phases in drop down menu are
        Requirements, Design, Code, Test, Install and Maintain
    </li>
    <li>
        Defect escaped: The technique from which the defect escaped. This is an optional field and the available options in
        the drop down menu are Requirement Review, Design Review, Code review and Automated (tool based) review
    </li>
    <li>
        Root Cause: The technical root cause of the defect. The options provided in the drop down menu are Code, Design,
        Infrastructure, Methodology, Process, Rejected, Security and Test
    </li>
    <li>
        Process Root Cause: This shows why the process or methodology being followed allowed the defect to be injected. The
        options provided in the drop down menu are Skills, Metrics, Pressure, Testing, Complexity, Requirements and Others
    </li>
    <li>
        Disposition: The action taken on the defect and the options provided in the drop down menu are Accepted, Deferred
        and Invalid
    </li>
    <li>
        Status: This is the actual status of the defect and the options provided in the drop down menu are Raised,
        Assigned, Bypass, Fixed and Closed
    </li>
    <li>
        Date corrected: This gives the date on which the defect is corrected
    </li>
</ul></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/WorkProductInspectionFormA4.xls" target="_blank">WorkProductInspectionFormA4.xls</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/templates/resources/WorkProductInspectionFormUS.xls" target="_blank">WorkProductInspectionFormUS.xls</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
