<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Activity Hand-over Form</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="act_hand_over_form">
<meta name="uma.presentationName" content="Activity Hand-over Form">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_G-0_sJacEdyFzeKFQX5eug"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_G-0_sJacEdyFzeKFQX5eug"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Activity Hand-over Form</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template is used to document project-related responsibilities to be transferred from one team member to another and is available in A4 and US formats.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.extend-ibm_int/workproducts/activity_hand_over_65692F5D.html" guid="mweb3B2B7811A1C2EF5785257206005DF7F9">Activity Hand-over Form</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    The Activity Hand-over Form is to be used while the project-related responsibilities are handed over to another team
    member. This Form is to be used during resignations, long term assignments, project manager responsibilities handover,
    etc.<br />
    The Activity Hand-over Form has four important sections. Some of the key information captured is listed below:
</p>
<p>
    Part A
</p>
<ul>
    <li>
        Responsibilities Assigned
    </li>
    <li>
        Activities Completed (last week / month)
    </li>
    <li>
        Activities Initiated but not completed
    </li>
    <li>
        Activities Planned till date but not started
    </li>
    <li>
        Customer Contact point
    </li>
    <li>
        User Id & Passwords
    </li>
    <li>
        Personal Business Commitments(PBC) Reviewed & Status
    </li>
    <li>
        IDP (Reviewed & Status)
    </li>
</ul>
<p>
    Part B
</p>
<p>
    Location of important documents such as:
</p>
<ul>
    <li>
        Contract Document (DOU, SOW, review & approval records)
    </li>
    <li>
        All Plans&nbsp;- Documents, Review & approval records, Change logs (if any)
    </li>
    <li>
        Project Related Documents: Weekly Status Report, Monthly Status Report, Schedule
    </li>
    <li>
        Process Review / Audit Reports, LAM & RCA Reports
    </li>
    <li>
        Billing (Time Sheets), Metrics Data (If required), Project specific documents/manuals, etc.
    </li>
    <li>
        Customer Communication
    </li>
    <li>
        Risks & Issues
    </li>
    <li>
        Databases being used for Project
    </li>
    <li>
        Communication with Support Groups
    </li>
</ul>
<p>
    Part C
</p>
<ul>
    <li>
        Proposal, Contract , SOW
    </li>
    <li>
        Account Management
    </li>
    <li>
        Billing Status
    </li>
</ul>
<p>
    Part D
</p>
<p>
    Hardware, Software and Backup Tapes related to:
</p>
<ul>
    <li>
        TD Assets
    </li>
    <li>
        Customer Funded
    </li>
    <li>
        Customer Loaned
    </li>
</ul></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.extend-ibm_int/guidances/templates/resources/ActivityHandoverFormTemA4.doc" target="_blank">ActivityHandoverFormTemA4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.extend-ibm_int/guidances/templates/resources/ActivityHandoverFormTemUS.doc" target="_blank">ActivityHandoverFormTemUS.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
