<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Communications Management Plan (Organizational) for P3 CTR</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="comm_mgmt_plan_org">
<meta name="uma.presentationName" content="Communications Management Plan (Organizational) for P3 CTR">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_rxHQYLRwEd2-Ouwzy0S0Ng"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_rxHQYLRwEd2-Ouwzy0S0Ng"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Communications Management Plan (Organizational) for P3 CTR</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template is used to plan how an organization will implement the Process, Performance and People Critical Thread Reviews.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/workproducts/comm_mgt_pln_org_p3_ctr_1403A8E6.html" guid="_GMwKwDk4Ed2eZIypH-bmHw">Communications Management Plan (Organizational) for P3 CTR</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    This MS Word template is established at the organization level, and that organizational entity may be a delivery
    organization, a region, a service line, a program. In all cases, the intent is to support the project manager defining
    the project-level communications management plan by describing how a project reports up the organization management
    chain. If the project is subject to matrix organization sponsorship, it may have to assess several organization's
    communications management plan (organizational) for P3 CTR, to determine the total extent of its reporting obligations.
</p>
<h4>
    Revision History
</h4>
<table title="" border="1" cellspacing="0" cellpadding="2" width="85%">
    <tbody>
        <tr>
            <td>
                Revision Number
            </td>
            <td>
                Revision Date
            </td>
            <td>
                Summary of Changes
            </td>
            <td>
                Authors
            </td>
        </tr>
        <tr>
            <td>
                1.0
            </td>
            <td>
                Jan 2008
            </td>
            <td>
                Baselined content
            </td>
            <td>
                Content-Team
            </td>
        </tr>
        <tr>
            <td>
                1.1
            </td>
            <td>
                Nov&nbsp;2008&nbsp;
            </td>
            <td>
                Updated for Brief Description and Main Description
            </td>
            <td>
                Content-Team
            </td>
        </tr>
        <tr>
            <td>
                1.2
            </td>
            <td>
                Nov 2009
            </td>
            <td>
                Rel15.3: WR 186-Updated the template attachment to add Data Security and Privacy as a measurement for
                project health reporting under Reporting Section
            </td>
            <td>
                Content-Team
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.extend-ibm_int/guidances/templates/resources/comm_mgt_pln_org_p3_ctr_pal_intA4.doc" target="_blank">comm_mgt_pln_org_p3_ctr_pal_intA4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.extend-ibm_int/guidances/templates/resources/comm_mgt_pln_org_p3_ctr_pal_intUS.doc" target="_blank">comm_mgt_pln_org_p3_ctr_pal_intUS.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
