<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Process CTR Agenda</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="proc_ctr_agenda">
<meta name="uma.presentationName" content="Process CTR Agenda">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_zmgcMFc7Ed6_Qv1Cf-QqiQ"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_zmgcMFc7Ed6_Qv1Cf-QqiQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Process CTR Agenda</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This word document outlines the recommended items to be discussed in the process critical thread review meetings, in support of the Process, Performance and People Critical Thread Review Procedure (IMSP435) (P3 CTR).</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.wwpmm.common.base-ibm_lic/workproducts/meeting_documentation_8341D03F.html" guid="mweb4B2EA6843906F899852568A9007F1550">Meeting Documentation</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    The agenda outlines the recommended items to be discussed on the process critical thread review meeting. This set of
    agenda items achieves the purpose of the P3 CTR which is to support communications of project status information up to
    the organization management levels, and to enable communications from the higher management levels to be delivered to
    the project.<br />
    <br />
    Some of the important points discussed are action items, quality review reports, risks, business controls, Open Source
    Software (OSS) usage, process improvements, etc.
</p>
<h4>
    Revision History
</h4>
<table cellspacing="0" cellpadding="2" width="85%" border="1">
    <tbody>
        <tr>
            <th>
                Revision Number
            </th>
            <th>
                Revision Date
            </th>
            <th>
                Summary of Changes
            </th>
            <th>
                Authors
            </th>
        </tr>
        <tr>
            <td>
                1.0
            </td>
            <td>
                Dec 2010
            </td>
            <td>
                R16.1: Updated the attachments to add information on OSS (Open Source Software)
            </td>
            <td>
                Content-Team
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.opal.common.extend-ibm_int/guidances/templates/resources/ProcessCTRAgendaA4.doc" target="_blank">ProcessCTRAgendaA4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.opal.common.extend-ibm_int/guidances/templates/resources/ProcessCTRAgendaUS.doc" target="_blank">ProcessCTRAgendaUS.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">More Information</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Guidelines</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.opal.common.base-ibm_lic/guidances/guidelines/p3_crit_thrd_rvw_8951E7C9.html" guid="LWWCM_e56ba244bfe0163">P3 - Process, Performance and People Critical Thread Reviews</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
