<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Acceptance Test Plan </title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="acceptance_test_plan">
<meta name="uma.presentationName" content="Acceptance Test Plan ">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_bUs40ChgEdy6p6vDFJLpLw"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_bUs40ChgEdy6p6vDFJLpLw"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Acceptance Test Plan </td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">MS-Word template in letter format.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/acceptance_test_plan_6DF78315.html" guid="mweb395827756BD9DEB385256881007D1899">Acceptance Test Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><strong>Introduction</strong> This section establishes some project level context or background. 
<p>
    <b>Purpose</b> This section describes the purpose of the Acceptance Test Plan.
</p>
<p>
    <b>Scope</b> A scope paragraph gives a clear explanation of the extent of testing covered by this plan. It specifically
    addresses items that are in scope and items that are out of scope.
</p>
<p>
    <b>Test Focus</b> Document those attributes of a system that must be tested to assure that the business and structural
    requirements are satisfied.
</p>
<p>
    <b>Test Objectives</b> Objectives for acceptance testing (or for that matter for all levels of testing) must be clearly
    stated using unambiguous and quantifiable terms that are appropriate for the level of testing. Test objectives
    establish what testing is to accomplish, define evaluation criteria to know when testing is completed, and assist in
    gauging the effectiveness of testing.
</p>
<p>
    In order to be able to assess if an output meets or exceeds a given expectation, the expectation must be stated in
    testable terms. This means that when the characteristics of an output under test are compared with the expected
    characteristics, they can be matched in a clear and unambiguous way. The answer to a calculation of (1 + 4) should not
    be “an appropriate amount.” To be testable, the answer would be a single value like 5, or a range between 0 and 10 if
    the exact answer were not known. If the result of the test were anything other than 5 or a number within the specified
    range, the test would unequivocally fail and the variance would be recorded. The example is trivial, but it serves to
    illustrate the point.
</p>
<p>
    While requirements should be stated in testable terms, it may not always be possible. The necessary level of detail
    when documenting and testing the requirements may not yet be available. For instance, the process of requirements
    specification and the High Level Physical Process Model should evolve the functional request from a collection of
    imprecise statements of user needs to testable user specifications. Even though the root of the word specification is
    specific, documenting testable requirements specifications is an extremely challenging exercise. At every point in the
    specification process, the “testability” of the requirement or specification can be evaluated by ensuring it meets the
    S.M.A.R.T. criteria. “S.M.A.R.T.” is an acronym for:
</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
    <p>
        S - Specific<br />
        M - Measurable<br />
        A - Attainable<br />
        R - Realistic<br />
        T - Timely<br />
    </p>
</blockquote>
<p>
    These specifications will form the basis for the criteria upon which the system is tested and ultimately accepted by
    the system owner and end-user.
</p>
<p>
    Avoid typical problems; e.g., vague statements, unsupported assertions, difficult or impossible test environment, high
    problem complexity, and conflicting or confused business objectives and systems objectives, etc. It is useful to
    remember that the system should be tested the way it is used.
</p>
<p>
    <b>Acceptance Criteria</b> Clear and unambiguous criteria specify what will be tested, what tests will be used, how
    they will be executed, and how success or failure of the tests will be determined. Defining test objectives is the
    first step to identifying acceptance criteria for the solution. These acceptance criteria should be signed off early in
    the development lifecycle, as part of the requirements review process.
</p>
<p>
    <b>Acceptance Process</b> Specific steps outline the actual process for managing deficiencies or failure to meet
    criteria, for adding, changing or deleting acceptance criteria, for recommending acceptance or not, and for sign-off. A
    standard set of definitions for classifying defects should be consistently used throughout the different levels of
    testing, defined in the higher level plans. Every test should have expected results clearly defined that indicate
    whether a particular test has passed or failed. Defect management and test management processes used at the project
    level should also be used for acceptance testing. Note that acceptance criteria may allow defects below a defined
    severity level, or provide that they be corrected in a later phase so that implementation can proceed.
</p>
<p>
    <b>Approach</b> The overall approach to how testing will be conducted is defined here. The approach is described in
    sufficient detail to permit identification of the major testing tasks and estimation of the time required for
    completing each one. Significant constraints on testing, such as work item availability, testing resource availability
    and deadlines, are also identified, as are any special packaging procedures. Any assumptions related to testing are
    also stated here. Staffing needed to support the approach are identified in terms of number and skill level. Training
    options for developing required skills are noted here as an alternative to hiring the skills.
</p>
<p>
    The testing approach, test data, and testing priorities are defined here and include:<br />
    <br />
</p>
<ul>
    <li>
        Details of any other areas carrying out testing during the test level; e.g., the service delivery, internal audit,
        operations, business procedures, etc.
    </li>
    <li>
        The approach to be taken for obtaining test data; e.g., live extract, test packs.
    </li>
    <li>
        The prioritization strategy: prioritize the features and items to test, and identify considerations for not running
        certain tests should the project run out of time.
    </li>
    <li>
        Any boundaries of testing where the level and/or projects are interdependent.
    </li>
</ul>
<p>
    <b>Functions/Features to be Tested</b> Test Functions/Features appropriate to this test level are identified as well as
    combinations of such to be tested. These functions and features are derived from the use case models and the
    non-functional requirements, which describe the functions and features to be tested for the project. The definition of
    what functions and features will be tested at which level of testing is usually arrived at through a workshop, to
    ensure consistency and completeness.
</p>
<p>
    Test Functions/Features are defined to a sufficiently low level of detail to support an expansion into test cases. The
    criteria to be used to determine whether each Test Function/Feature has passed or failed testing are also noted here.
</p>
<p>
    <b>Functions/Features not to be Tested</b> Functions/Features being excluded are noted here to identify out-of-scope
    items.
</p>
<p>
    <b>Work Items</b> Specific work items are defined, that are required to test the functions/features listed in the
    section <i>Functions/Features to be Tested</i>. In other words, work items are those systems, software configuration
    items, system interfaces, and documents that constitute the areas or items to be tested. It may be useful, under some
    circumstances, to combine this section with the <i>Test Functions/Features</i> section.
</p>
<ul>
    <li>
        The extent of the breadth and depth of requirements coverage is also defined here.
    </li>
    <li>
        Function and test matrices are often used to ensure completeness and accuracy of work items.
    </li>
</ul>
<p>
    <b>Entry and Exit Criteria for Level</b> Entry and Exit criteria are usually established during the development of the
    comprehensive test planning stage. Entry criteria establish the prerequisites that must be met before testing can
    start, and exit criteria define the steps that must be completed before the test level can be exited.
</p>
<p>
    <b>Test Function/Feature Pass/Fail Criteria</b>
</p>
<p>
    <b>Testing Tools and Techniques</b> Testing tools or special techniques to be employed during this test level are
    identified here.
</p>
<p>
    <b>Suspension Criteria and Resumption Requirements</b> The criteria used to suspend all or a portion of the testing
    activity on the Test Functions/Features associated with this plan are defined here. Testing activities that must be
    repeated when testing is resumed are identified, to ensure that required testing conditions are reestablished prior to
    the resumption of testing.
</p>
<p>
    <b>Test Plan and Schedule</b> A schedule is prepared for the testing activities at this test level. A reference is
    provided to a Plan/Gantt Chart or other planning documents in the appendix.
</p>
<p>
    Testing milestones identified in the Project Plan are identified. The specific test activities to be performed at this
    test level, the personnel responsible for performing the activities, and the test work products to be produced are also
    defined.
</p>
<p>
    <b>Test Milestones Identified in the Project Plan</b> Milestones should include completion of the test plan itself,
    completion of test specification, test execution, etc.
</p>
<p>
    <b>Specific Test Activities for the Test Level</b> The set of tasks necessary to prepare for and perform the testing
    level is identified. All inter-task dependencies and any special skills required are also noted. The following types of
    tasks need to be considered:
</p>
<ul>
    <li>
        Test Planning
    </li>
    <li>
        Allocation and Assignment of staff for the test level
    </li>
    <li>
        Test Design and Specification
    </li>
    <li>
        Test Execution
    </li>
    <li>
        Test Environment Planning and Set Up
    </li>
    <li>
        Test Management
    </li>
    <li>
        Defect Management
    </li>
</ul>
<p>
    <b>Personnel Responsible for Test Activities</b> Staff responsible for the different tasks included in the plan are
    identified here. These staff may include the business testers, application programmer, technical support, user
    representatives, data administration, and quality support personnel.
</p>
<p>
    <b>Test Environment Requirements</b> The necessary and desired properties of the Test Environment are noted here. This
    section commonly includes:
</p>
<ul>
    <li>
        Identification of the physical components, the communications, the system and middleware necessary (hardware and
        system software).
    </li>
    <li>
        The mode or state of usage (for example, standalone or dedicated to the discrete usage of the application alone).
    </li>
    <li>
        Other software or supplies needed to support testing (e.g., printer forms or specialized stationery).
    </li>
    <li>
        Security and access requirements to the test area and equipment.
    </li>
    <li>
        Test tools and utilities required, including backup/restore requirements.
    </li>
    <li>
        Other testing needs (publications, office space).
    </li>
    <li>
        Additional software licenses to cover test period usage.
    </li>
    <li>
        Support resources and skills required to maintain the test environments.
    </li>
</ul>
<p>
    <b>Risks and Contingencies</b> High project risks need to be addressed in this section. The impact and contingency
    plans for each are defined. All potential risks identified in section, <i>Features not to be tested</i>, are addressed
    here.
</p>
<p>
    Common areas of risk are:
</p>
<ul>
    <li>
        Changing business requirements
    </li>
    <li>
        Changing end-date
    </li>
    <li>
        Insufficient resources
    </li>
    <li>
        Test environment restrictions or differences relative to production
    </li>
    <li>
        Quality problems
    </li>
    <li>
        A need for special skills
    </li>
    <li>
        New technology
    </li>
    <li>
        The focus is on risks to the testing of the project deliverables, and not to the project itself.
    </li>
</ul>
<p>
    <b>Approvals</b> The names and titles of the people who will read, review, or sign-off on this plan are listed here.
    Space is provided for signatures and dates.
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/guidances/templates/resources/AcceptanceTestPlanTemplate.doc" target="_blank">AcceptanceTestPlanTemplate.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
