<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Test Strategy (formal)</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="test_strategy_formal">
<meta name="uma.presentationName" content="Test Strategy (formal)">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_SbXvQC7EEdy_iuOvjthFMA"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_SbXvQC7EEdy_iuOvjthFMA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Test Strategy (formal)</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">A Test Strategy template is attached.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/test_strategy_DF00AF6E.html" guid="mwebE476C8F82635F6AB852568BD007CB7C9">Test Strategy</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><ul>
    <li>
        <strong>Introduction:</strong> This section is an introduction to the test strategy work product.&nbsp; It
        describes the document, its purpose and, if appropriate, provides project background.
    </li>
    <li>
        <strong>Scope:</strong> The scope defines the boundaries of testing.&nbsp; At the test strategy level, this
        description could relate to the list of applications, the networks, and the operations.&nbsp; If any of the
        applications or networks is known to be out-of-scope for testing, it is important to mention the exclusions here.
    </li>
    <li>
        <strong>Assumptions:</strong> Any underlying assumptions for the strategy is clearly stated in this section.
    </li>
    <li>
        <strong>Testing Objectives:</strong> Describe the tangible goals of testing.&nbsp; Test objectives can be at
        varying levels of detail.&nbsp; At the test strategy level, the objectives set the tone and direction for what
        testing is going to look like.
    </li>
    <li>
        <strong>Risk Assessment:</strong> Input from the project management risk assessment, or if one is not available, a
        high level assessment of business and technical risks is made based on the solution outline.
    </li>
    <li>
        <strong>Test Focus Areas:</strong> Test focus areas are those critical attributes of the system that must be tested
        to provide the expected level of confidence in the application or system.&nbsp; If there are any indicators from
        the RFP, or from discussions with the client, as to what areas the client considers critical to the business or to
        the technology implementation, these may be captured in this section.&nbsp;
    </li>
    <li>
        <strong>Static and Dynamic Testing:</strong> Strategy should include both static and dynamic testing.&nbsp;
    </li>
</ul>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp; Static testing is a detailed examination of a work product’s
    characteristics to an expected set of attributes, experiences, and standards.&nbsp; Commonly used static testing
    techniques are prototyping, reviews, inspections, and walkthroughs.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp; Dynamic testing is a process of verification or validation by
    exercising (or
    operating)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a&nbsp;work&nbsp;product under scrutiny, and observing its behavior to changing inputs or environments.&nbsp; Levels of
    dynamic testing described in the following section are commonly known as the detailed test
    levels.&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<ul>
    <li>
        <strong>Levels of Test:</strong> Each stage of development represents a known level of physical integration and
        quality.&nbsp; These stages, known as Testing Levels, are defined using the Testing Standards of the organization,
        if they exist, or organizational or industry testing practices, as a means of establishing and communicating a
        common set of terms and terminology.
    </li>
    <li>
        <strong>Types of Test:</strong> Testing types to consider at this level relate to testing of business functions
        (Functional Types) or to structural functions (Structural Types).&nbsp; These are generic for most applications,
        but if there are some specific to the industry or technology, it is important to include these as well.&nbsp;
    </li>
    <li>
        <strong>Organizational Responsibility:</strong> Organizational responsibility refers to describing in generic terms
        the hand-offs and hand-overs that occur at various points in the development lifecycle, as the product or solution
        evolves from specification to design to implementation.&nbsp; This is done at a high level to identify which
        business or functional areas need to get involved in order to achieve the desired end-state.&nbsp;
    </li>
    <li>
        <strong>Test Methods:</strong> If there are testing standards at the organization, business unit, or competency
        level that is to be used on this project, this information should be included here.&nbsp; Any techniques specific
        to the development or technology environment could be mentioned here, too.&nbsp;
    </li>
    <li>
        <strong>Entry/Exit Criteria:</strong> The concept of establishing prerequisites (entry criteria) and
        post-conditions (exit criteria) is extremely important in managing any process.&nbsp; The need for using entry/exit
        criteria is documented to ensure clear understanding where hand-offs occur, so that the sending organization or
        unit can verify completeness before handing over, and the receiving unit can validate readiness to initiate the
        process.
    </li>
    <li>
        <strong>Tools:</strong> It would be useful to include here any technology or tools strategy that the organization,
        business unit, or competency may have embarked on (or should embark on), and which would be relevant to the
        project.&nbsp; The impact of these on any other strategy components should be noted in their discussion.&nbsp;
    </li>
    <li>
        <strong>Metrics:</strong> Similar to the tool strategy, if the organization, business unit, or competency has any
        metrics program or measurements strategy relating to testing, the test strategy is the place to include the
        information.
    </li>
    <li>
        <strong>Test Management and Reporting:</strong> The need for a Test Manager and a structured approach to test
        management and reporting is emphasized here, if these concepts are foreign to the organization or business
        unit.&nbsp; This will help increase awareness on the part of client management to the importance of testing and
        test management, so that they will be better prepared to commit their resources full time, and to participate in
        test planning workshops, etc.
    </li>
    <li>
        <strong>Approvals:</strong> Sign-off requirements at major milestones and checkpoints as well as acceptance
        criteria are recorded here.&nbsp;&nbsp;
    </li>
    <li>
        <strong>Appendices:</strong>
    </li>
</ul>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Appendix A –
    Templates: Please refer to the Test Focus_Types.dot and Test Level_Types.dot attached as separate files.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Appendix B – Glossary of Testing
    Terms: In order to clarify the testing terms that may be new to the client or terms that may be used differently, it is
    always a good practice to include the glossary of testing terms. Please refer to Appendix B at the end of this document
    for a Glossary of Testing Terms and Terminology.&nbsp;
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/guidances/templates/resources/TestStrategyTemplate.doc" target="_blank">TestStrategyTemplate.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
