<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Performance Engineering Strategy</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="perf_eng_strategy">
<meta name="uma.presentationName" content="Performance Engineering Strategy">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_HL-l0KiuEdy5w7qxiHjI2w"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_HL-l0KiuEdy5w7qxiHjI2w"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Performance Engineering Strategy</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../practice.tech.sys_eng.extend-ibm_int/workproducts/perf_eng_strategy_861553DC.html" guid="mweb9BB21174B8C73DE6852572AC006EAE03">Performance Engineering Strategy</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    The PE strategy work product information includes the following:
</p>
<ul>
    <li>
        Introduction: An introduction to the PE strategy work product.&nbsp; It describes the document, its purpose and, if
        appropriate, provides project background.
    </li>
    <li>
        Scope: At the PE strategy level, this description should coincide with the scope of the Customer Baseline and the
        current IT systems which will be affected by the solution implementing these requirements. But PE scope may go
        beyond project scope if the affected systems interact with others that are thought to be ‘out of scope’ in the
        sense that they are not receiving changes.&nbsp;
    </li>
    <li>
        Assumptions: Any underlying assumptions for the PE strategy are clearly stated in this section.
    </li>
    <li>
        PE Goals: Describe the tangible goals of performance engineering.&nbsp; PE objectives can be at varying levels of
        detail.&nbsp; At the PE strategy level, the objectives set the tone and direction for how performance engineering
        is going to be done.
    </li>
    <li>
        PE Strategy Overview, which will include:
    </li>
    <li style="LIST-STYLE-TYPE: none">
        <ul>
            <li>
                PE Focus Areas: PE focus areas are those critical performance requirements of the solution that must be met
                to provide the expected level of confidence in the application or system.&nbsp; If there are any such
                requirements from the RFP, or from discussions with the client, as to what areas the client considers
                critical to the business or to the technology implementation, these may be captured in this section.
            </li>
            <li>
                Development phases: The phases of development like SRS, BRS etc., which will be used to manage the larger
                development project, whether it is a traditional “waterfall” project or an iterative development project.
                The phases correspond to each of the successive System Engineering baselines such as Customer Baseline,
                System Baseline, Component Baseline, Design Baseline, Test Readiness and Production Readiness.
            </li>
            <li>
                Risk Assessment: PE at a high level is a risk mitigation discipline in and of itself, and
                performance-related risks are subject to identification, assessment and mitigation activities at any time
                during the project.&nbsp; The assessment of risks done in the PE strategy document is not expected to be
                exhaustive, but rather should focus on known project and technical factors that may increase
                performance-related risks or hinder the ability to address those risks using PE techniques.
            </li>
            <li>
                PE Themes: Each of the PEMM themes has a number of PE activities associated with it.&nbsp; A core part of
                the PE strategy is to select the appropriate PE activities to be employed during each of the SE&A
                baselines, as well as during development and test.&nbsp;
            </li>
            <li>
                Organizational Responsibility: Organizational responsibility refers to describing in generic terms the
                hand-offs and handovers that occur at various points in the development lifecycle, as the product or
                solution evolves from specification to design to implementation.&nbsp; This is done at a high level to
                identify which business or functional areas need to get involved in order to achieve the desired
                end-state.&nbsp;
            </li>
            <li>
                PE Methods and Tools: If there are performance standards at the organization, business unit or competency
                levels that are to be used on this project, this information is included here.&nbsp; Any techniques
                specific to the development or technology environment could be mentioned here, too.&nbsp; It is useful to
                include any technology or tools strategy that the organization, business unit, or competency may have
                embarked on (or should embark on), and which would be relevant to the performance aspects of project.&nbsp;
                The impact of these on any other strategy components should be noted in their discussion.&nbsp;
            </li>
            <li>
                PE Decision Checkpoints (DCPs): Decision checkpoints are used at key milestones to determine whether the
                project is making adequate progress toward meeting its goals.&nbsp; For example, entry and exit criteria
                are frequently used to manage the beginning and the end of a test phase respectively.&nbsp; Similarly, PE
                DCPs should be used to determine whether the project is making adequate progress toward its performance
                goals.&nbsp; For an SE&A-managed project, PE DCPs will typically be aligned with the SE&A baseline
                reviews, but they may be appropriate at other points as well.
            </li>
            <li>
                Performance Metrics: As with the methods and tool strategy, if the organization, business unit, or
                competency has any metrics program or measurements strategy relating to performance, the PE strategy is the
                place to include the information. However, if they don’t have any specific strategy, plan should be made to
                create one.
            </li>
            <li>
                PE Data Management Strategy: PE data may include performance statistics from test or production systems or
                estimating models, business and technical volumetrics (quantitative information which has a bearing on the
                performance or capacity of a given solution). The PE data management strategy should explain at a high
                level how this data will be gathered, analyzed and managed, whether repositories will be used and change
                control will be needed.
            </li>
        </ul>
    </li>
</ul></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../practice.tech.sys_eng.extend-ibm_int/guidances/templates/resources/PerformanceEngineeringStrategy_Template.doc" target="_blank">PerformanceEngineeringStrategy_Template.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
