<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: GBS Standalone COS Tool for outside Americas</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="conditions_satisfaction_gbs_standalone">
<meta name="uma.presentationName" content="GBS Standalone COS Tool for outside Americas">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_EEMioOGIEd2Nrpmv7LGbHQ"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_EEMioOGIEd2Nrpmv7LGbHQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: GBS Standalone COS Tool for outside Americas</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/workproducts/conditions_satisfaction_DE954779.html" guid="mweb586DD2FDD4E7778085256CFE006EFE34">Conditions of Satisfaction</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    <u><strong>Completing the COS Template</strong></u>
</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
    <p>
        1) Prior to conducting the Start-up COS interview, complete the top portion of the COS Template.
    </p>
    <p>
        <br />
    </p>
    <p>
        After conducting the Start-up COS interview with the client, record his or her conditions of satisfaction, the date
        each condition of satisfaction was set, and the status of the COS statement (Active, Revised, Inactive). The
        Active/Revised COS Statements will be automatically populated in the current Interim Review Template and in the
        Closeout Review Template.
    </p>
    <p>
        <br />
    </p>
    <p>
        2) Interim Review dates should be recorded in the COS Template after the completion of each Interim Review.
    </p>
    <p>
        <br />
    </p>
    <p>
        If a Project Management Review is being done in the upcoming quarter, please be sure to review the results of the
        client interview prior to performing the next Interim Review. If any issues/action items were identified in the
        PMR, be sure to have a status for the client if not a report to say they have been closed.
    </p>
    <p>
        <br />
    </p>
    <p>
        Remember that the client's Conditions of Satisfaction might change during the Solution Delivery phase. Adjust the
        COS statements in the COS Template accordingly, but keep track of COS statements that have been changed or deleted.
        Any COS statements that are no longer pertinent should have their status changed to "Inactive."
    </p>
    <p>
        <br />
    </p>
    <p>
        As Interim Reviews are conducted, record the dates the Interim Reviews were actually performed in the Interim
        Reviews section of the COS Template. Record the Overall ISAT Rating calculated on the Interim Review Template. If
        an Action Plan is required (usually because an Overall ISAT Rating was less than 7), then describe the issue that
        must be resolved with an action plan.
    </p>
    <p>
        <br />
    </p>
    <p>
        Be sure to record not only Interim Reviews conducted by the Project Executive/Project Manager, but those conducted
        by Risk Managers as part of the client satisfaction component of Project Management Reviews.
    </p>
    <p>
        <br />
    </p>
    <p>
        3) After the Closeout Review is conducted, record the date of the review in the Closeout Review / End of Engagement
        section of the COS Template. Be sure to record the Overall ISAT Rating calculated in the Closeout Review Template.
        If an Action Plan is required (usually because an Overall ISAT Rating was less than 7), then describe the issue
        that must be resolved with an action plan.
    </p>
    <p>
        <br />
    </p>
    <p>
        4) The items listed in the COS Checklist section are reminders. The first is to remember to share the COS
        statements will all members of the IBM project team. The second and third items relate to the Closeout Review in
        which the client should be reminded of the IBM Client Experience Survey (ICES) and the need to identify the correct
        client representative to whom the ICES survey should be sent. Confirm that the information in the Client Contact
        Name, Client Phone Number, and Client Email Address fields in the Client and Project Information section of the COS
        Template is correct.
    </p>
</blockquote>
<p>
    <img height="600" alt="" src="./../../../core.legacy.common_wp.extend-ibm_int/guidances/templates/resources/cos_template1.jpg" width="600" />&nbsp;
</p>
<p>
    <u><strong>Completing the Interim Review Template</strong></u>
</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
    <p>
        1) Review the client's expectations (i.e., COS statements) in the Interim Review Template prior to conducting the
        interview and record the date of the Interim Review in the top section.
    </p>
    <p>
        <br />
    </p>
    <p>
        2) During the Interim Review, ask the client to individually assess each COS statement. Then, ask the client to
        provide an overall expectation response for question 1. If expectations change, still ask for an assessment on each
        of the active/revised COS statements. Schedule follow-up call to discuss new and/or changed expectations.
    </p>
    <p>
        <br />
    </p>
    <p>
        3) Ask the other questions in the template and record the results. The Overall ISAT rating is automatically
        calculated once the responses for questions 1, 2, and 3 have been recorded in the template.
    </p>
    <p>
        <br />
    </p>
    <p>
        4) Remember the Interim Review Template is IBM Confidential and should not be left with the client.
    </p>
    <p>
        <br />
    </p>
    <p>
        5) If the client says that their expectations have changed, schedule follow-up meeting to discuss.
    </p>
</blockquote>
<p>
    <u><strong><img height="600" alt="" src="./../../../core.legacy.common_wp.extend-ibm_int/guidances/templates/resources/cos_template2.jpg" width="600" /></strong></u>
</p>
<p>
    <u><strong>Completing the Closeout Review Template</strong></u>
</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
    <p>
        1) Review the client's expectations (i.e., COS statements) in the Closeout Review Template prior to conducting the
        interview. Record the date of the Closeout Review in the top section.
    </p>
    <p>
        <br />
    </p>
    <p>
        2) During the Closeout Review, ask the client to individually assess each COS statement. Then, ask the client to
        provide an overall expectation response for question 1. If expectations change, still ask for an assessment on each
        of the active/revised COS statements. Schedule follow-up call to discuss new and/or changed expectations.
    </p>
    <p>
        <br />
    </p>
    <p>
        3) Ask the other questions in the template and record the results. The Overall ISAT rating is automatically
        calculated once the responses for questions 1, 4, and 5 have been recorded in the template.
    </p>
    <p>
        <br />
    </p>
    <p>
        4) Additional questions can be included in the interview, but be sure to get responses for each expectation and
        questions 4 and 5.
    </p>
    <p>
        <br />
    </p>
    <p>
        5) If the client appears to be satisfied, then ask the Reference question and record their response. This response
        does not affect the ISAT rating.
    </p>
    <p>
        <br />
    </p>
    <p>
        6) Document the ISAT rating and any action items in the Closeout Review / End of Engagement section.of the COS
        Template.
    </p>
    <p>
        <br />
    </p>
    <p>
        7) Remember the Closeout Review Template is IBM Confidential and should not be left with the client.
    </p>
</blockquote>
<p dir="ltr">
    <img height="585" alt="" src="./../../../core.legacy.common_wp.extend-ibm_int/guidances/templates/resources/cos_template3.jpg" width="403" /><br dir="ltr" />
    <br />
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.legacy.common_wp.extend-ibm_int/guidances/templates/resources/Standalone_COS_Tool_v1.1.xls" target="_blank">Standalone_COS_Tool_v1.1.xls</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
