<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: User Interface Design Specification</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="ui_design_specs">
<meta name="uma.presentationName" content="User Interface Design Specification">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_DzN8YEpKEdyr157EJjtSvA"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_DzN8YEpKEdyr157EJjtSvA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: User Interface Design Specification</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.legacy.common_wp.base-ibm_lic/workproducts/ui_design_specs_B76BB729.html" guid="mweb0B1E8765356F61EF852568850061F05A">User Interface Design Specifications</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    <b>Design Overview</b>
</p>
<ul>
    <li>
        <b>Background:</b> Provides an introduction of the underlying requirements to be addressed as documented in the
        Statement of Work (SOW). This description should provide information for a reader who is not familiar with the
        project and its scope, so that s/he may obtain a basic understanding of the functionality to be delivered. This
        section should not repeat all the requirements; it should be more of an introductory narrative.
    </li>
    <li>
        <b>Prototype:</b> Describes where to find, load, and run the prototype code. Also lists any system
        requirements/assumptions such as Internet Explorer 6 is required.
    </li>
    <li>
        <b>UI Guidelines and Coding Standards:</b> Describes where to find the User Interface Design Guidelines work
        product (if it exists or produced on the project) that provides a consistent set of standards for the UI look and
        feel. Also describes the coding standards that are to be used by the development team.
    </li>
    <li>
        <b>Accessibility considerations:</b> Describes the relevant accessibility standards and/or legislation to which the
        application design must adhere. This may include:
    </li>
    <li style="LIST-STYLE-TYPE: none">
        <div style="MARGIN-LEFT: 2em">
            <ul>
                <li>
                    <a href="http://w3-03.ibm.com/able/ci162/index.html">IBM CI-162</a> for products produced, marketed,
                    sold or used internally by IBM and its subsidiaries, even if the product uses components not developed
                    by IBM
                </li>
                <li>
                    <a href="http://www.w3.org/WAI">W3C Web Content Authoring Guidelines</a> for web-based content
                </li>
                <li>
                    <a href="http://www.section508.gov/">Section 508</a>
                </li>
                <li>
                    <a href="http://www.opsi.gov.uk/acts/acts1995/1995050.htm">UK Disability Discrimination Act</a>
                </li>
                <li>
                    Note any assistive technologies (screen readers, screen magnifiers, on screen and alternative
                    keyboards, single switches, and a wide variety of input and output devices that meet the needs of
                    people with disabilities) the application is expected to support, and any special considerations
                    required (e.g., Java Swing applications must implement the Java Accessibility API, and use the <a href="http://www.sun.com/access/">Java Access Bridge</a>).
                </li>
            </ul>
        </div>
    </li>
    <li>
        <b>Screen Transition Diagram/Site Map:</b>
    </li>
    <li style="LIST-STYLE-TYPE: none">
        <ul>
            <li>
                For smaller applications (&lt;25 screens), this section shows relationships between screens. Each screen is
                represented by a rectangle labeled with the screen’s name. Whenever you can open one window from inside
                another, indicate this by an arrow from the departure window to the destination window. Note: If the user
                interface design specification is incorporated into a live prototype, screen transitions should actually be
                coded in the prototype. In the case where not all screens are prototyped, user interface design notes
                should describe screen transitions that have not been coded in the prototype.
            </li>
            <li>
                For larger applications, it is recommended that this section be moved to the “Detail Design” section and
                only those screens that are inputs/outputs be detailed using a screen transition diagram because it may be
                difficult to fit all the screen transitions in one view.
            </li>
        </ul>
    </li>
    <li>
        <b>Usage:</b> Describes the overall usage of the user interface. This description should be a summary and will
        correspond closely to the flow of events communicated in its accompanying use cases. If process flows are
        available, then this section should also link users to these documents or describe where to find the documents.
    </li>
    <li>
        <b>Entitlements</b>: A matrix that describes the page level access level by the user/role. Includes a short
        description of each of the users/roles as well as a reference to the user profiles work product (if available).
    </li>
    <li>
        <b>Common/Reusable elements:</b> Descriptions of views that are common to all screens such as the banners, footers,
        menus, global navigations and widgets (calendar widgets, for example). More detail on reusable elements may be
        provided in a UI Design Standards document. If so, refer to the document and provide instructions for finding it.
    </li>
    <li>
        <b>Framework specifications:</b> Describes the dimensions of areas within a page.
    </li>
</ul>
<p>
    <b>Detailed Design</b>
</p>
<ul>
    <li>
        <b>Overview:</b> This section gives an overview/objective of the view, its name, the type of window, and other
        general information regarding the window.
    </li>
    <li>
        <b>Traceability:</b> Lists related use cases, reference documents and/or additional related business requirements.
    </li>
    <li>
        <b>Screen Captures:</b> Includes wireframes or screen captures of the user interface and if available includes
        variations based on user entitlements and/or screen states. Note: If the User Interface Specification is embedded
        in a live prototype, then the prototype itself replaces screen captures.
    </li>
    <li>
        <b>Tabbing Order:</b> This section shows the keyboard tabbing order for the view, including the default starting
        position or input focus, such as the default button in a dialog or default insert cursor in a form. Note: If the
        User Interface Specification is embedded in a live prototype, the desired tabbing order should be defined in the
        prototype code itself.
    </li>
    <li>
        <b>Control Specification:</b> This section provides detailed visual design and behavior information for each UI
        element contained in the view. The name or label, role, description, and relationship of each control needs to be
        specified so they will be programmatically usable by such systems as Help, assistive technologies (e.g., screen
        readers, magnifiers, etc.), and automated testing tools. Also describes enabling, visibility and masking behaviors,
        as well as how widget-specific events are handled. See User Interface Specification Development Guidelines for
        control specification templates.
    </li>
    <li>
        <b>Programming interface:</b> Describes the programming resource (e.g., JavaBean attribute or operation) for each
        function and variable content element surfaced to the user.
    </li>
    <li>
        <b>System Event Handling:</b> This section describes the page events such as initialization and page refresh.
    </li>
    <li>
        <b>Help Information:</b> This section identifies help panels and other help information details that are associated
        with the view. The accessibility features need to be included along with alternative means of navigating the user
        interface, such a keyboard tabbing order, mnemonics, and shortcut keys.
    </li>
    <li>
        <b>Open and Closed Design Issues:</b> This section provides a description of issues that arose in the design of
        this view. It helps the design team maintain a permanent paper trail documenting the reasoning for design
        decisions.
    </li>
</ul>
<p>
    <b>Appendix Glossary</b>
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.legacy.common_wp.extend-ibm_int/guidances/templates/resources/UserInterfaceDesignSpecificationsTemplate.doc" target="_blank">UserInterfaceDesignSpecificationsTemplate.doc</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
