<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Estimation Checkpoint Report </title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="est_chkpt_rpt">
<meta name="uma.presentationName" content="Estimation Checkpoint Report ">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_6GbRUC9KEdyeL-mbbEDaJw"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_6GbRUC9KEdyeL-mbbEDaJw"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Estimation Checkpoint Report </td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">The Estimation Checkpoint Report contains three worksheets – an Instructions worksheet to capture the Project Details, a Committed worksheet for recording progress at each checkpoint, and a Charts worksheet graphing the results of measuring the variance of the project.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../practice.mgmt.estimating_gov.base-ibm_lic/workproducts/est_chkpt_rpt_60F52FA9.html" guid="_OyHJIC8-EdyFCqReR1ta1g">Estimation Checkpoint Report </a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    The Estimation Checkpoint Report contains three worksheets – an Instructions worksheet to capture the Project Details,
    a Committed worksheet for recording progress at each checkpoint, and a Charts worksheet graphing the results of
    measuring the variance of the project.<br />
</p>
<p>
    The Instructions worksheet contains the following project details:
</p>
<ul>
    <li>
        An overview of the Estimation Checkpoint Report work product
    </li>
    <li>
        Instructions on how to complete the report
    </li>
    <li>
        Basic project details such as the project name, customer, and categorization of the project
    </li>
</ul>
<p>
    The Committed worksheet contains the following:
</p>
<ul>
    <li>
        The baseline estimate of effort, cost and schedule as at each checkpoint review
    </li>
    <li>
        The actual used effort, cost and schedule as at each checkpoint review
    </li>
    <li>
        The estimate to complete of effort, cost and schedule as at each checkpoint review&nbsp;
    </li>
    <li>
        A measure of the variance of the estimate against the baseline as at each checkpoint review
    </li>
</ul>
<p>
    The Charts worksheet contains the following:
</p>
<ul>
    <li>
        Graphs of the variance in effort, cost, and schedule as measured over time at each checkpoint review
    </li>
    <li>
        Graphs comparing the current estimate at completion to the baseline estimate as measured over time
    </li>
</ul>
<p>
    Complete the Instructions worksheet.
</p>
<p>
    At the start of the project (Month 0), enter the baseline estimate of effort, cost and schedule into the Committed
    worksheet. The baseline estimate can be found in the Estimation Report from the original project estimate. Complete the
    Month 0 data to record the initial variance inherent in the project.
</p>
<p>
    At each checkpoint, re-estimate the project and update the Committed worksheet with the actual used effort, cost, and
    schedule and the new estimate to complete data for the appropriate checkpoint.
</p>
<p>
    If the project must be re-baselined due to change requests, changed assumptions or any other reason, the Estimation
    Checkpoint Report must be updated to reflect the change in the baseline at that point in time. The original baseline
    must not be modified but the current baseline estimate of effort, cost and schedule must be updated on the Committed
    worksheet to reflect the date at which the baseline changed, and the impact that change has on the project. An example
    of a change in baseline is included in the Committed Example worksheet.
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../practice.mgmt.estimating_gov.base-ibm_lic/guidances/templates/resources/EstimationCheckpointReportv1.2.xls" target="_blank">EstimationCheckpointReportv1.2.xls</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
