<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Estimation Factors Report </title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="est_factors_rpt">
<meta name="uma.presentationName" content="Estimation Factors Report ">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_j8jZgC8xEdyFCqReR1ta1g"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_j8jZgC8xEdyFCqReR1ta1g"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Estimation Factors Report </td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template contains four worksheets – a Project Details worksheet, a Committed worksheet for recording progress at each checkpoint, a Committed Charts worksheet for managing the progress of the project, and a Closed worksheet for use at project close.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../practice.mgmt.estimating_gov.base-ibm_lic/workproducts/est_factors_rpt_BBB7FD8A.html" guid="_-kSmwC8pEdyFCqReR1ta1g">Estimation Factors Report </a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    The Project Details worksheet documents basic project information and contains the following:
</p>
<ul>
    <li>
        An overview of the Estimation Factors Report work product
    </li>
    <li>
        Instructions on how to complete the report
    </li>
    <li>
        Basic project information, such as the project name, client name, and project dates, category, business sector, and
        industry
    </li>
</ul>
<p>
    &nbsp;The Committed and Committed Charts worksheets record and chart the actual progress and productivity for each
    estimation factor. It contains the following:
</p>
<ul>
    <li>
        The current baseline and actual counts per estimation factor for the project as of the checkpoint date
    </li>
    <li>
        The assumed and actual effort per estimation factor as of the checkpoint date
    </li>
    <li>
        Graphs of the productivity of each estimation factor as measured over time at each checkpoint review
    </li>
</ul>
<p>
    The Closed worksheet records the actual values achieved during the project and calculates the final effort per
    estimation factor for improving future estimates. It contains the following:
</p>
<ul>
    <li>
        The final actual count and effort expended for each estimation factor as at project close
    </li>
</ul>
<p>
    Once you have decided on how the various team leads will contribute their content, complete the Project Details
    worksheet.
</p>
<p>
    At the start of the project (Checkpoint 0), enter the baseline count for every estimation factor into the Committed
    worksheet. Complete the Checkpoint 0 data to record the initial productivity assumed in the project.
</p>
<p>
    Just prior to each estimation checkpoint review, update the Committed worksheet with the actual counts completed, in
    progress, and not yet started for every estimation factor, and the effort expended thus far on the complete and in
    progress estimation factors. Estimate the degree of completion of any work in progress. The report will calculate and
    chart the actual progress and productivity experienced on the project.
</p>
<p>
    If the project must be re-baselined due to change requests, changed assumptions or any other reason, the Estimation
    Factors Report must be updated to reflect the change in the baseline at that point in time. The original baseline must
    not be modified but the current baseline counts and effort for each estimation factor must be updated on the Committed
    worksheet to reflect the date at which the baseline changed, and the impact that change has on the project. An example
    of a change in baseline is included in the Committed Example worksheet.
</p>
<p>
    At project close, enter the actual count and effort expended for every estimation factor into the Closed worksheet.
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../practice.mgmt.estimating_gov.base-ibm_lic/guidances/templates/resources/EstimationFactorsReportv1.0.xls" target="_blank">EstimationFactorsReportv1.0.xls</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">More Information</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Checklists</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../practice.mgmt.estimating_gov.base-ibm_lic/guidances/checklists/est_factors_rpt_4E24C2C8.html" guid="_k0JTYC8yEdyFCqReR1ta1g">Estimation Factors Report </a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright">&copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2012&nbsp;All Rights Reserved <br />
Property of IBM <br />
These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
